@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #dcdadc;
  --bbg: rgba(236, 229, 229, 0.652);
  --box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px;
}
body {
  height: 100vh;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tomato {
  color: tomato;
}
a {
  color: #664fd6;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.266);
  backdrop-filter: blur(25px);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  border-bottom: 4px solid;
  padding: 10px;
  max-width: 100% !important;
  z-index: 20;
}

.logo {
  padding: 15px;
  /* box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px; */
  margin: 2px;
  border: 2px solid #3c4858;
  font-size: larger;
  color: #000;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 40px;
}

nav ul {
  display: flex;
  margin-right: auto;
  list-style-type: none;
  align-items: center;
  flex-grow: 2;
  justify-content: flex-end;
}

br {
  content: "\A";
  white-space: pre;
  line-height: 150px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 8px;
}
nav:has(a:hover) {
  background-color: transparent;
}
/* Hover effect on navbar items */
nav ul li a:hover {
  /* transform: scale(1.1); */
  box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
}

main {
  display: flex;
  overflow: auto;
}

.postcontainer {
  /* background: rgb(247, 246, 244); */
  position: static;
  margin: 10px;
  border: 2px solid #dcdadc;
  max-width: 59%;
  padding: 20px;
  border-radius: 10px;
  margin: 80px;
  margin-right: 10px;
  overflow-x: hidden;
  height: fit-content;
}
blockquote {
  background: var(--bbg);
  padding: 20px;
  margin: 20px 10px;
  border-left: 4px solid #000;
}

.postcontainer div,
.postcontainer p, .postcontainer h1 , .postcontainer h2 {
  margin: 20px 0;
}
.postcontainer ul {
  margin: 10px 40px;
}
.postcontainer img {
  max-width: 80%;
}

.sidebar {
  background: transparent;
  width: 30%;
  float: right;
  /* border: #dcdadc 2px solid; */
  /* padding: 20px; */
  border-radius: 10px;
  margin: 80px;
  margin-left: 20px;
}

footer {
  background: #fff;
  text-align: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  /* box-shadow: var(--box-shadow); */
}

#title {
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid var(--black);
  margin: 20px;
  margin-left: 0;
  padding-left: 0;
}

/* Cards CSS */

.card {
  padding: 20px;
  font-size: larger;
  border-bottom: 2px solid var(--black);
  border-left: 2px solid;
  /* border-bottom: 2px solid; */
  margin-bottom: 20px;
  transition: all 0.4s linear;
  align-self: center;
  /* border: 2px solid; */
  /* background: var(--bbg); */
  backdrop-filter: blur(25px);
  /* border-radius: 20px; */
  /* box-shadow: var(--box-shadow); */
}
.card img {
  width: 100%;
  max-height: 20rem;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  align-self: center;
  border-radius: 20px;
  object-fit: contain;
}
.card .card-title {
  margin: 10px;
  border-top: 2px solid pink;
}
.card:hover {
  box-shadow: var(--box-shadow);
  background: var(--black);
  box-shadow: 50px #000;
  scale: 1.01;
}
/* index.html cards */
.postscontainer .card {
  width: 300px;
  /* height: 200px; */
  align-self: center;
  padding: 10px;
  margin: 0;
  /* border-bottom: 2px solid; */
  margin: 2px;
  margin-bottom: 20px;
  /* background: var(--bbg); */
  backdrop-filter: blur(25px);
}



.btn {
  width: 100%;
  background: transparent;
  padding: 20px;
  color: black;
  background: white;
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
}
.btn:hover {
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
  scale: 1.02;
}

/* For Index HTML */

.postscontainer {
  display: block;
  align-items: center;
}

.latestposts {
  flex-grow: 4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 75vw;
}


.postscontainer h2 {
  padding: 20px;
}

.container {
  display: flex;
  width: 100%;
}

.post {
  width: 100%;
  background: var(--bbg);
  /* border: 2px solid var(--black); */
  margin: 20px;
  margin-top: 0;
  /* border-radius: 20px; */
  box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px;
  position: sticky;
  display: block;
  top: 0;
  left: 0;
}

.postscontainer #load_more {
  width: 400px;
  padding: 20px;
  font-size: x-large;
}


/* Table of content TOC */

.toc {
  padding: 20px;
  border-left: 2px solid ;
  margin: 20px 0;
}
.toc h1 {
  border-bottom: 2px solid;
}
.toc li {
  list-style: none;
  margin: 5px;
  padding: 0 10px;
  border-left: 2px solid transparent;
  
}

.toc li:hover {
  background-color: var(--bbg);
  border-left: 2px solid;
  cursor: pointer;
}

.code {
  color: red;
}

.card:hover .card-title::before {
  content: " ";
  position: absolute;
  display: block;
  height: 4px;
  /* width: 100%; */
  background: rgb(149, 12, 34);
  animation: line 04s cubic-bezier(0.165, 0.84, 0.44, 1);
  bottom: -10px;
  margin-left: -20px;
  
}



.usercard {
  width: 100%;
  /* background-image: linear-gradient(rgb(225, 201, 201),rgb(113, 186, 235)); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;  
  border-top: 4px solid;
  cursor: pointer;
  font-size: larger;
}
.usercard:hover::after {
  position: relative;
  content: "";
  background: #664fd6;
  height: 10px;
  display: inline-block;
  width: 100%;
  bottom: 0px;
  animation: line .4s;
}

.usercard img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin: 20px;
  border: var(--black);
  box-shadow: var(--box-shadow);
  animation: box-shadow 2s infinite;
}
.usercard img:hove {
  animation: box-shadow 2s infinite !important;
}

/* Media Query */

@media (max-width: 900px) {
  nav {
    overflow: auto;
  }
  #title {
    font-size: 30px;
  }
  main {
    flex-direction: column;
  }
  .postcontainer,
  .sidebar {
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
    margin: 10px;
  }
  .postcontainer {
    min-height: 80vh;
  }
  .sidebar {
    max-width: 100%;
    min-width: 95%;
    align-self: center;
  }
  .container {
    flex-direction: column;
  }
  .latestposts {
    max-width: 100%;
  }
  .post {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .logo {
    padding: 5px 15px ;
    margin: 2px;
  }
  main {
    flex-direction: column;
  }
  .postcontainer,
  .sidebar {
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .postcontainer {
    min-height: 80vh;
  }
  .postscontainer .card {
    width: 90%;
    height: 300px;
  }
  .postscontainer .card img {
    height: 210px;
  }
}



/* KeyFrames */

@keyframes box-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--box-shadow);
  }
}

@keyframes line {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
    scale: 1;
  }
  100% {
    /* width: 100%; */
    width: 0%;
    visibility: hidden;
  }
}