@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #dcdadc;
  --bbg: rgba(236, 229, 229, 0.652);
  --box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px;
}
body {
  height: 100vh;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-size: 15px; */
}
.tomato {
  color: tomato;
}
a {
  color: #664fd6;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.266);
  backdrop-filter: blur(25px);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  border-bottom: 4px solid;
  padding: 10px;
  max-width: 100% !important;
  z-index: 20;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0.1643251050420168) 3%,
    rgba(188, 123, 219, 1) 100%
  );
}

.logo {
  padding: 15px;
  /* box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px; */
  margin: 2px;
  /* border: 2px solid #3c4858; */
  font-size: larger;
  color: #000;
  cursor: pointer;
  /* border-radius: 8px; */
  margin-left: 40px;
}

nav ul {
  display: flex;
  margin-right: auto;
  list-style-type: none;
  align-items: center;
  flex-grow: 2;
  justify-content: flex-end;
}

.postcontainer ol {
  list-style-type: decimal;
  margin-left: 20px;
}
.postcontainer ul {
  list-style-type: circle;
  margin-left: 20px;
}

br {
  white-space: pre;
  line-height: 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  margin: 10px;
  color: #fff;
  border-radius: 8px;
}
nav:has(a:hover) {
  background-color: transparent;
}
/* Hover effect on navbar items */
nav ul li a:hover {
  /* transform: scale(1.1); */
  box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  overflow: auto;
}

.postcontainer {
  /* background: rgb(247, 246, 244); */
  position: static;
  margin: 10px;
  border: 2px solid #dcdadc;
  /* max-width: 59%; */
  padding: 20px;
  border-radius: 10px;
  margin: 80px;
  margin-right: 10px;
  overflow-x: hidden;
  height: fit-content;
  min-width: 55%;
  font-size: 17px;
}
.postcon {
  max-width: 59%;
}
blockquote {
  background: var(--bbg);
  padding: 20px;
  margin: 20px 10px;
  border-left: 4px solid #000;
}

.postcontainer div,
.postcontainer p,
.postcontainer h1,
.postcontainer h2 {
  margin: 20px 0;
}
.postcontainer ul,
.postcontainer ol {
  margin: 10px 40px;
}
.postcontainer img,
.postcontainer iframe {
  max-width: 100%;
}

.postheadimage {
  border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

.postheadimage p:has(iframe) {
    /* margin: 0; */
    /* text-align: center; */
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
}

.sidebar {
  background: transparent;
  width: 30%;
  float: right;
  /* border: #dcdadc 2px solid; */
  /* padding: 20px; */
  border-radius: 10px;
  margin: 80px;
  margin-left: 20px;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.github-corner {
  z-index: 9999;
}

.bg-indigo-500 {
  background-color: #4c51bf;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-slide-in {
  animation: slideIn 0.5s ease-out;
}

footer {
  background: #fff;
  text-align: center;
  padding: 20px;
  color: rgb(0, 0, 0);
  /* box-shadow: var(--box-shadow); */
}

#title {
  font-size: 40px;
  padding: 20px;
  border-bottom: 2px solid var(--black);
  margin: 20px;
  margin-left: 0;
  padding-left: 0;
}

/* Cards CSS */

.card {
  padding: 20px;
  font-size: larger;
  border-bottom: 2px solid var(--black);
  /* border-left: 2px solid; */
  /* border-bottom: 2px solid; */
  margin-bottom: 20px;
  transition: all 0.4s linear;
  align-self: center;
  /* border: 2px solid; */
  /* background: var(--bbg); */
  backdrop-filter: blur(25px);
  /* border-radius: 20px; */
  /* box-shadow: var(--box-shadow); */
  border-radius: 20px;
}
.card img {
  width: 100%;
  max-height: 20rem;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  align-self: center;
  border-radius: 20px;
  object-fit: contain;
}
.card .card-title {
  margin: 10px;
  border-top: 2px solid pink;
}
.card:hover {
  box-shadow: var(--box-shadow);
  /* background: var(--black); */
  box-shadow: 50px #000;
  /* background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0.1643251050420168) 3%,
    rgba(188, 123, 219, 1) 100%
  ); */
  transition: all 0.8s linear;
  scale: 1.01;
}
/* index.html cards */
.postscontainer .card {
  width: 300px;
  height: 350px;
  align-self: center;
  padding: 10px;
  margin: 0;
  /* border-bottom: 2px solid; */
  margin: 2px;
  margin-bottom: 20px;
  /* background: var(--bbg); */
  backdrop-filter: blur(25px);
}

.btn {
  width: 100%;
  background: transparent;
  padding: 20px;
  color: black;
  background: white;
  border-radius: 10px;
  font-size: larger;
  cursor: pointer;
}
.btn:hover {
  background: black;
  color: white;
  transition: all 0.3s ease-in-out;
  scale: 1.02;
}

/* For Index HTML */

.postscontainer {
  display: block;
  align-items: center;
}

.latestposts {
  /* flex-grow: 4; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 75vw;
}

.postscontainer h2 {
  padding: 20px;
}

.container {
  display: flex !important;
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

.post {
  width: 100%;
  /* background: var(--bbg); */
  /* border: 2px solid var(--black); */
  margin: 20px;
  margin-top: 0;
  /* border-radius: 20px; */
  /* box-shadow: rgba(9, 9, 121, 0.7) 0px 15px 25px -5px; */
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.postscontainer #load_more {
  width: 400px;
  padding: 20px;
  font-size: x-large;
}

/* Table of content TOC */

.toc {
  padding: 20px;
  border-left: 2px solid;
  margin: 20px 0;
}
.toc h1 {
  border-bottom: 2px solid;
}
.toc li {
  list-style: none;
  margin: 5px;
  padding: 0 10px;
  border-left: 2px solid transparent;
}

.toc li:hover {
  background-color: var(--bbg);
  border-left: 2px solid;
  cursor: pointer;
}

.code {
  color: red;
}

.card:hover .card-title::before {
  content: " ";
  position: absolute;
  display: block;
  height: 4px;
  /* width: 100%; */
  background: rgb(100, 196, 207);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(4, 103, 190, 1) 0%,
    rgba(120, 116, 208, 1) 27%,
    rgba(188, 123, 219, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  animation: line 04s cubic-bezier(0.165, 0.84, 0.44, 1);
  bottom: -10px;
  margin-left: -20px;
  text-align: center;
  border-radius: 50px;
  margin: auto;
}

.usercard {
  width: 100%;
  /* background-image: linear-gradient(rgb(225, 201, 201),rgb(113, 186, 235)); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-top: 4px solid;
  cursor: pointer;
  font-size: larger;
}
.usercard:hover::after {
  position: relative;
  content: "";
  background: #664fd6;
  height: 10px;
  display: inline-block;
  width: 100%;
  bottom: 0px;
  animation: line 0.4s;
}

.usercard img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin: 20px;
  border: var(--black);
  box-shadow: var(--box-shadow);
  animation: box-shadow 2s infinite;
}
.usercard img:hove {
  animation: box-shadow 2s infinite !important;
}

/* Media Query */

@media (max-width: 900px) {
  nav {
    overflow: auto;
  }
  #title {
    font-size: 30px;
  }
  main {
    flex-direction: column;
  }
  .postcontainer,
  .sidebar {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin: 10px;
    max-width: 100%;
  }
  .postcontainer {
    min-height: 80vh;
  }
  .sidebar {
    max-width: 100%;
    min-width: 95%;
    align-self: center;
  }
  .container {
    flex-direction: column;
  }
  .latestposts {
    max-width: 100%;
  }
  .post {
    margin: 0;
    margin-top: 20px;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .logo {
    padding: 5px 15px;
    margin: 2px;
  }
  main {
    flex-direction: column;
  }
  .postcontainer,
  .sidebar {
    max-width: 100%;
    margin: 0;
    margin-top: 20px;
  }
  .postcontainer {
    min-height: 80vh;
  }
  .postscontainer .card {
    width: 90%;
    height: 300px;
  }

  .postscontainer .card img {
    height: 210px;
  }
  #default-search {
    padding-left: 2px;
    padding-right: 0;
  }
}

/* KeyFrames */

@keyframes box-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: var(--box-shadow);
  }
}

@keyframes line {
  0% {
    width: 0%;
    text-align: center;
  }
  50% {
    width: 90%;
    scale: 1;
  }
  100% {
    /* width: 100%; */
    width: 0%;
    visibility: hidden;
    text-align: center;
  }
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

.latestposts .card a {
  display: block;
  overflow: hidden;
  height: 100%;
}

.inline-block {
  display: inline-block;
}

/* Code Highlighting Added */
.highlight__panel.js-actions-panel {
  display: none;
}
code {
    color: whitesmoke;
    background: #000;
    padding: 8px;
    border-radius: 10px;
}
.highlight.js-code-highlight {
  border-left: 2px solid aqua;
  overflow: auto;
  color: azure;
  background: black;
  padding: 10px;
  border-radius: 20px;
}
.pl-kos,
.k,
.nx {
  color: pink;
}
.pl-ent,
.p,
.na {
  color: hotpink;
}
.pl-s,
.s,
.s1 {
  color: aqua;
}
.pl-c1,
.o,
.nc {
  color: white;
}
.pl-c,
.c {
  color: green;
}
.dl,
.nf,
.nt {
  color: yellow;
}

/* Table Wrapper Styles */
.table-wrapper-paragraph {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Table Styles */
.table-wrapper-paragraph table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table Header Styles */
.table-wrapper-paragraph th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Table Body Styles */
.table-wrapper-paragraph td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Alternating Row Colors */
.table-wrapper-paragraph tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover Effect on Rows */
.table-wrapper-paragraph tbody tr:hover {
  background-color: #f2f2f2;
}

/* Responsive Table */
@media (max-width: 768px) {
  .table-wrapper-paragraph {
    overflow-x: auto;
  }
}

/* Images */

.article-body-image-wrapper {
  display: flex;
  justify-content: center;
}

.shadow1 {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.shadow2 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.small {
  font-size: medium;
}

.animated-border {
  display: inline-block;
  font-size: 24px;
  padding: 10px 20px;
  color: #333;
  position: relative;
}

.animated-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    border-color: #3498db;
  }
  50% {
    border-color: #e74c3c;
  }
  100% {
    border-color: #3498db;
  }
}


/* GitHub Embeds  */


.ltag_github-liquid-tag {
    margin: 1.1em auto 1.3em;
    position: relative
}

.ltag_github-liquid-tag h1 {
    font-size: var(--fs-xl) !important;
    line-height: var(--lh-base) !important;
    margin: 0 0 0.7em !important
}

@media screen and (min-width: 500px) {
    .ltag_github-liquid-tag h1 {
        margin-bottom:10px;
        word-wrap: break-word
    }
}

.ltag_github-liquid-tag h1 a {
    color: var(--body-color)
}

.ltag_github-liquid-tag h1 .issue-title {
    font-weight: var(--fw-normal)
}

.ltag_github-liquid-tag h1 .issue-number {
    color: var(--base-60);
    font-weight: var(--fw-normal);
    letter-spacing: -1px
}

.ltag_github-liquid-tag h1 .github-logo {
    display: inline-block;
    max-width: 1.1em;
    width: 1.15em;
    vertical-align: middle;
    margin: 0;
    margin-right: 0.3em;
    left: 0;
    filter: invert(0);
    filter: var(--theme-social-icon-invert, invert(0))
}

.github-thread {
    font-family: var(--ff-sans-serif);
    background-color: var(--card-bg);
    border: 1px solid var(--form-border);
    box-shadow: var(--shadow-smooth);
    border-radius: var(--radius-auto);
    font-size: 0.77em;
    line-height: 1.15em;
    margin: 0;
    overflow: hidden
}

.github-thread .timeline-comment-header {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    border-bottom: 1px solid var(--form-border);
    padding: 0.5em 1.5em
}

@media screen and (min-width: 500px) {
    .github-thread .timeline-comment-header {
        align-items:center
    }
}

.github-thread .timeline-comment-header .github-liquid-tag-img {
    margin: 10px 10px 10px 0;
    width: 38px;
    height: 38px;
    padding: 0
}

.github-thread .timeline-comment-header-text {
    padding: 10px 0
}

.github-thread .timeline-comment-header-text a {
    color: var(--base-60)
}

.github-thread .timeline-comment-header-text a:hover {
    color: var(--base-60);
    text-decoration: underline
}

.ltag-github-body {
    padding: 1em 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    max-height: calc(21vw + 165px);
    overflow: hidden
}

@media screen and (min-width: 430px) {
    .ltag-github-body {
        max-height:calc(20vw + 153px)
    }
}

@media screen and (min-width: 800px) {
    .ltag-github-body {
        max-height:310px
    }
}

.ltag-github-body h1,.ltag-github-body h2,.ltag-github-body h3,.ltag-github-body h4,.ltag-github-body h5,.ltag-github-body h6 {
    font-weight: 500 !important
}

.ltag-github-body h1 {
    margin-left: 0;
    font-size: 1.9em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    margin-top: 1em !important;
    margin-bottom: 0.9em !important
}

.ltag-github-body h3 {
    margin-top: 1em !important;
    margin-bottom: 0.9em !important;
    padding: 0;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.25
}

.ltag-github-body h4 {
    padding: 0
}

.ltag-github-body *:first-child {
    margin-top: 0 !important
}

.ltag-github-body *:last-child {
    margin-bottom: 0 !important
}

.ltag-github-body img {
    left: inherit
}

.ltag-github-body blockquote {
    color: #6a737d;
    padding: 0px 1em;
    border-left: 0.25em solid #dfe2e5;
    margin: 16px 0px
}

.ltag-github-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    background-color: var(--card-bg);
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
}

.ltag-github-body p {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 15px
}

.ltag-github-body p a.github-user-link {
    color: var(--card-color-secondary);
    font-weight: 600;
    white-space: nowrap
}

.ltag-github-body p a.github-user-link:hover {
    color: #24292e;
    text-decoration: underline
}

.ltag-github-body code {
    border-radius: 3px;
    padding: 0.2em 5px 0px;
    margin: 0px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
}

.ltag-github-body pre {
    width: 100% !important;
    margin: 0px;
    color: black;
    background-color: #f6f8fa;
    padding: 0
}

.ltag-github-body pre code {
    background-color: #f6f8fa;
    color: black;
    padding: 0em 0px 0px !important;
    line-height: 2em !important
}

.ltag-github-body .highlight pre,.ltag-github-body pre,.ltag-github-body pre code {
    padding: 16px !important;
    overflow: auto !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
    background-color: #f7f7f7 !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    color: black !important;
    border-radius: 3px !important;
    margin: 0.95em 0 1.2em !important
}

.ltag-github-body .highlight {
    font-size: 14px !important;
    margin-bottom: 16px !important;
    border-radius: 3px !important
}

.ltag-github-body b,.ltag-github-body strong {
    font-weight: 600
}

.ltag-github-body .pl-c {
    color: #969896
}

.ltag-github-body .pl-c1,.ltag-github-body .pl-s .pl-v {
    color: #0086b3
}

.ltag-github-body .pl-e,.ltag-github-body .pl-en {
    color: #795da3
}

.ltag-github-body .pl-s .pl-s1,.ltag-github-body .pl-smi {
    color: #333
}

.ltag-github-body .pl-ent {
    color: #63a35c
}

.ltag-github-body .pl-k {
    color: #a71d5d
}

.ltag-github-body .pl-pds,.ltag-github-body .pl-s,.ltag-github-body .pl-s .pl-pse .pl-s1,.ltag-github-body .pl-sr,.ltag-github-body .pl-sr .pl-cce,.ltag-github-body .pl-sr .pl-sra,.ltag-github-body .pl-sr .pl-sre {
    color: #183691
}

.ltag-github-body .pl-v {
    color: #ed6a43
}

.ltag-github-body .pl-id {
    color: #b52a1d
}

.ltag-github-body .pl-ii {
    background-color: #b52a1d;
    color: #f8f8f8
}

.ltag-github-body .pl-sr .pl-cce {
    color: #63a35c;
    font-weight: bold
}

.ltag-github-body .pl-ml {
    color: #693a17
}

.ltag-github-body .pl-mh,.ltag-github-body .pl-mh .pl-en,.ltag-github-body .pl-ms {
    color: #1d3e81;
    font-weight: bold
}

.ltag-github-body .pl-mq {
    color: #008080
}

.ltag-github-body .pl-mi {
    color: #333;
    font-style: italic
}

.ltag-github-body .pl-mb {
    color: #333;
    font-weight: bold
}

.ltag-github-body .pl-md {
    background-color: #ffecec;
    color: #bd2c00
}

.ltag-github-body .pl-mi1 {
    background-color: #eaffea;
    color: #55a532
}

.ltag-github-body .pl-mdr {
    color: #795da3;
    font-weight: bold
}

.ltag-github-body .pl-mo {
    color: #1d3e81
}

.gh-btn-container {
    text-align: center;
    padding: 0.35em 0 1.35em;
    box-shadow: 0 0 60px 42px var(--card-bg);
    position: relative;
    z-index: var(--z-elevate)
}

#instagram-liquid-tag {
    background: white;
    border: 1px solid #dbdbdb;
    margin: 1px 1px 12px;
    min-width: 326px;
    max-width: 540px;
    width: calc(100% - 2px);
    height: 559px;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    padding: 0px
}

.instagram-position {
    position: relative;
    max-width: 540px;
    margin: 0 auto
}

.katex-element {
    overflow-x: auto
}

.ltag__link__link {
    color: var(--body-color) !important
}

.ltag__link__link:active {
    opacity: 0.7
}

/* Twitter Embed  */
.text-styles blockquote.twitter-tweet {
    font-family: var(--ff-sans-serif);
    background: var(--body-color-inverted);
    max-width: 550px;
    border: 1px solid #cfd9de;
    font-size: 0.75em;
    line-height: 1.35em;
    border-radius: 12px;
    margin: 1.6em auto;
    padding: 60px 250px 18px 10px;
    padding: 33px 15px 8px
}

@media screen and (min-width: 640px) {
    .text-styles blockquote.twitter-tweet {
        padding:60px 22px 18px;
        min-height: 105px
    }
}

.text-styles .tweet-embed {
    display: block;
    margin: var(--content-rhythm) auto !important;
    width: 550px;
    max-width: 100%;
    min-height: 350px;
    border-radius: 13px;
    box-shadow: var(--shadow-smooth),inset 0px 0px 0px 1px var(--card-border);
    overflow: hidden
}
